
#form{
	height: 100%;
	background-color:transparent;
	overflow: hidden;
	position: relative;

}
form{
	margin: 0 auto;
	width: 500px;
	padding-top: 40px;
	color: white;
	position: relative;


}
label, input, textarea{
	display: block;
}
input, textarea{
	width: 500px;
	border: none;
	border-radius: 20px;
	outline: none;
	padding: 10px;
	font-family: 'Sniglet', cursive;
	font-size: 1em;
	color: #676767;
	transition: border 0.5s;
	-webkit-transition: border 0.5s;
	-moz-transition: border 0.5s;
	-o-transition: border 0.5s;
	border: solid 3px #98d4f3;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;

}
input:focus, textarea:focus{
	border: solid 3px #77bde0;
}

textarea{
	height: 100px;
	resize: none;
	overflow: auto;
}
#submit_button{
	-moz-appearance: none;
	-webkit-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;
	background: #3ac984;
	border-radius: 40px;
	border: 0;
	color: white;
	cursor: pointer;
	display: inline-block;
	padding: 0.80em 2em;
	text-align: center;
	text-decoration: none;
	font-size: 1.4em;
	font-weight: 600;
	min-width: 10em;
}
#submit_button:hover{
	background-color: #e58f0e;

}
label{
	font-size: 1.5em;
	margin-top: 20px;
	padding-left: 20px;
}
