<div class="row">
    <div class="col-md-2">
        <ng-include src="'pages/menu.html'"></ng-include>
    </div>
    <div class="col-md-10" ng-controller = "addAreaController">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-2">
                <img src="images/image001.jpg" width="100%" height="200px">
                <div class="content-box-large">
                    <div class="panel-heading">
                        <div class="panel-title">Add Area</div>
                        <div class="panel-options">
                            <a href="#" data-rel="collapse" ng-click = "resetForm(AreaData)"><i class="glyphicon glyphicon-refresh"></i></a>
                            <!-- <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a> -->
                        </div>
                    </div>
                    <div class="panel-body" >
                        <form class="form-horizontal" ng-submit="addArea()" role="form">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Area Name</label>
                                <div class="col-sm-10">
                                    <input ng-model="areaData.name" type="text" class="form-control" id="inputEmail3" placeholder="e.g. New Cairo" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Sector</label>
                                <div class="col-sm-10">
                                    <select ng-model="areaData.sector" ng-options="x for x in sectors">
                                    </select>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button id="checkBtn" type="submit" class="btn btn-primary">Add</button>
                                </div>
                            </div>
                            <div class="form-group" ng-show="getStatus()">
                                <label class="col-sm-10 control-label">Area Added Successfully!</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
