<div class="row">
    <div class="col-md-2">
        <ng-include src="'pages/menu.html'"></ng-include>
    </div>

    <div ng-controller="showCategoryController" class="sidebar content-box" style="display: block;">
        <div class="raw">
            <div class="col-xs-6 col-xs-offset-2">
                <img src="images/image001.jpg" width="100%" height="200px">
                <h1> Categories </h1>

                <div class="content-box-large">
                    <div class="panel-heading" ng-init="getCategories()">

                        <div ng-repeat="x in cats" class="collumn"     background-color="lightblue">
                            <div ng-click="editCategory(x._id)">
                                <div class="head">
                                    <h3 class="headline hl2">{{ x.name }} </h3>
                                </div>

                                <img src="{{ x.img_path }}" width="50%" height="50%">

                                <div class="form-group">
                                    <label>Category sector</label>
                                    <label class="form-control"> {{ getSectorVal(x.sector) }} </label>
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    <icon align="middle"><a ng-click="deleteCategory(x._id)"><i
                                            class="glyphicon glyphicon-remove"></i></a></icon>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

