<div class="row">
    <div class="col-md-2">
        <ng-include src="'pages/menu.html'"></ng-include>
    </div>


    <div ng-controller="showNewsController" class="sidebar content-box" style="display: block;">
        <div class="raw">
            <div class="col-xs-6 col-xs-offset-2">
                <img src="images/image001.jpg" width="100%" height="200px">
                <h1> News </h1>

                <div class="content-box-large">
                    <div class="panel-heading" ng-init="getNews()">

                        <div ng-repeat="x in news" class="collumn">
                            <div ng-click="editNews(x._id)">
                                <div class="head">
                                    <h3 class="headline hl1">{{ x.title }} </h3>
                                </div>
                                <br>

                                <img src="{{ news.img_path }}" width="50%" height="50%">
                                <p>{{ x.Body }}</p>
                                <br>
                                <p>{{ x.creation_date }}</p>
                            </div>
                            <div>
                                <div class="form-group" ng-show="attachmentShow(x)">
                                    <a href= "{{ x.media_path }}"  download="{{x.media_path}}" target="_blank">Attachment </a>
                                    <br>
                                </div>
                                <div class="form-group">
                                    <icon align="middle"><a ng-click="deleteNews(x._id)"><i
                                            class="glyphicon glyphicon-remove"></i></a></icon>
                                    <hr>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

                <!-- Main menu -->
            <!--<li ng-show = "testType()" ><a ng-click="behaviour(0)"><i class="glyphicon glyphicon-comment"></i> Show Feedback</a></li>-->
            <!--<div ng-repeat="x in news" class='nav'>-->
                <!--<div ng-repeat="x in news"  class="col-xs-4 col-xs-offset-1">-->

                    <!--<h4>{{ x.title }}</h4>-->
                    <!--<p>{{ x.Body }}</p>-->

                    <!--<a href= "{{ x.media_path }}">Attachment</a>-->
                    <!--<button align="middle"><a ng-click="deleteNews(x._id)"><i-->
                            <!--class="glyphicon glyphicon-remove"></i></a></button>-->
                <!--</div>-->

                        <!--</div>-->
    </div>

