<div class="row">
    <div class="col-md-2">
        <ng-include src="'pages/menu.html'"></ng-include>
    </div>


    <div ng-controller="showNewsController" class="sidebar content-box" style="display: block;">
        <div class="raw">
            <div class="col-xs-6 col-xs-offset-2">
                <img src="images/image001.jpg" width="100%" height="200px">
                <h1> News </h1>

                <div class="content-box-large">
                    <div class="panel-heading" ng-init="getNews()">

                        <div ng-repeat="x in news" class="collumn">
                            <div class="head">
                                <span class="headline hl1">It wasn't a dream </span>
                                <p>
                                    <span class="headline hl4">by FRANZ KAFKA</span>
                                </p>
                            </div>
                            <p>
                                One morning, when Gregor Samsa woke from troubled dreams,
                                he found himself transformed in his bed into a horrible vermin.
                                He lay on his armour-like back, and if he lifted his head a little he could see his brown belly,
                                slightly domed and divided by arches into stiff sections.
                                The bedding was hardly able to cover it and seemed ready to slide off any moment.
                            </p>

                            <p>His many legs, pitifully thin compared with the size of the rest of him,
                                waved about helplessly as he looked. "What's happened to me?" he thought.
                                It wasn't a dream. His room, a proper human room although a little too small,
                                lay peacefully between its four familiar walls.
                                A collection of textile samples lay spread out on the table - Samsa was a travelling salesman -
                                and above it there hung a picture that he had recently cut out of an illustrated magazine and housed
                                in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright,
                                raising a heavy fur muff that covered the whole of her lower arm towards the viewer.
                                Gregor then turned to look out the window at the dull weather.
                            </p>

                            <a href= "{{ x.media_path }}"  download="{{x.media_path}}" target="_blank">Attachment </a>
                            <br>
                            <br>
                            <button align="middle"><a ng-click="deleteNews(x._id)"><i
                            class="glyphicon glyphicon-remove"></i></a></button>
                            <hr>
                        </div>


                    </div>
                </div>
            </div>

                <!-- Main menu -->
            <!--<li ng-show = "testType()" ><a ng-click="behaviour(0)"><i class="glyphicon glyphicon-comment"></i> Show Feedback</a></li>-->
            <!--<div ng-repeat="x in news" class='nav'>-->
                <!--<div ng-repeat="x in news"  class="col-xs-4 col-xs-offset-1">-->

                    <!--<h4>{{ x.title }}</h4>-->
                    <!--<p>{{ x.Body }}</p>-->

                    <!--<a href= "{{ x.media_path }}">Attachment</a>-->
                    <!--<button align="middle"><a ng-click="deleteNews(x._id)"><i-->
                            <!--class="glyphicon glyphicon-remove"></i></a></button>-->
                <!--</div>-->

                        <!--</div>-->
    </div>

