<div class="row">
	<div class="col-md-2">
		<ng-include src="'pages/menu.html'"></ng-include>
	</div>
	<div class="col-md-10" ng-controller= "getUsersController">
	  	<div class="row" ng-init="getUsers()">
	  		<div class="col-xs-8 col-xs-offset-1">
	  			<img src="images/image001.jpg" width="100%" height="200px">
	  			<div class="content-box-large">
			  		<div class="panel-heading">
			    		<table class = "table">
			    			<thread>
				    			<tr>
									<th align="middle">Name</th>
									<th align="middle">Email</th>
									<th align="middle">Type</th>
									<th align="middle">Edit</th>
									<th align="middle">Delete</th>
								</tr>
							</thread>
							<tbody>
								<tr ng-repeat="x in users">
								    <td align="middle">{{ x.name }}</td>
								    <td align="middle">{{ x.email }}</td>
								    <td align="middle">{{ x.privilege }}</td>
								    <td align="middle"><a ng-click=""><i class="glyphicon glyphicon-edit"></i></a></td>
								    <td align="middle"><a ng-click="deleteUser(x._id)"><i class="glyphicon glyphicon-remove"></i></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="form-group" ng-show="getStatus()">
					<label class="col-sm-2 control-label">{{msg}}</label>
				</div>
			</div>
		</div>
	</div>
</div>
